<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @registro.id %>
</p>

<p>
  <strong>Folio solicitud:</strong>
  <%= @registro.folio_solicitud %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @registro.nombre %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @registro.cargo %>
</p>

<p>
  <strong>Ambito:</strong>
  <%= @registro.ambito %>
</p>

<p>
  <strong>Auxiliar:</strong>
  <%= @registro.auxiliar %>
</p>

<p>
  <strong>Zona referencia:</strong>
  <%= @registro.zona_referencia %>
</p>

<p>
  <strong>Id auxiliar:</strong>
  <%= @registro.id_auxiliar %>
</p>

<p>
  <strong>Id dispositivo:</strong>
  <%= @registro.id_dispositivo %>
</p>

<p>
  <strong>Folio registro:</strong>
  <%= @registro.folio_registro %>
</p>

<p>
  <strong>Fecha captacion:</strong>
  <%= @registro.fecha_captacion %>
</p>

<p>
  <strong>Fecha recepcion:</strong>
  <%= @registro.fecha_recepcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @registro.status %>
</p>

<p>
  <strong>Folio duplicado:</strong>
  <%= @registro.folio_duplicado %>
</p>

<p>
  <strong>Tipo inconsistencia:</strong>
  <%= @registro.tipo_inconsistencia %>
</p>

<p>
  <strong>Entidad:</strong>
  <%= @registro.entidad %>
</p>

<p>
  <strong>Distrito:</strong>
  <%= @registro.distrito %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @registro.municipio %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @registro.seccion %>
</p>

<p>
  <strong>Distrito local:</strong>
  <%= @registro.distrito_local %>
</p>

<p>
  <strong>Motivo baja:</strong>
  <%= @registro.motivo_baja %>
</p>

<p>
  <strong>Fecha revision audiencia:</strong>
  <%= @registro.fecha_revision_audiencia %>
</p>

<p>
  <strong>Codigo integridad:</strong>
  <%= @registro.codigo_integridad %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
